

table{
    margin: auto;
}
input[type=text]{
    display: block;
    margin: auto;
    height: 120px;
    width: 120px;
    
    text-align: center;
    font-size: 48px;
    color:white;
}

*
{
background-color:black;
}
#heading
{
    color:white;
    text-align: center;
    margin-bottom: 30px;
}
#tab 
{
    border:2px solid yellow;
}

button{
    background: yellowgreen;
    height: 55px;
    width: 120px;
    border-radius: 6px;
    margin: auto;
    display: block;
    margin-top: 60px;
}
